@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    margin: 0;
    font-family: "Montserrat";
}
h1, h2, h3{
    margin: 0;
}
main{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .page-content{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

}