section{
    position: relative;
    width: 1240px;
    max-width: calc(100% - 200px);
    margin-left: auto;
    margin-right: auto;

    .banner-mask{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: black;
        opacity: 0.6;
        width: 100%;
        height: 223px;
        border-radius: 16px;
        top: 0;
        color: white;
        font-weight: 700;
        font-size: 48px;

    }
    

    .banner-img{
        width: 100%;
        height: 223px;
        object-fit: cover;
        object-position: center;
        border-radius: 16px;
    }
}
