@use "./settings.scss" as *;
@use "mixin.scss" as *;
.drop{
    background-color: $primary;
    border-radius: 10px;
    

    &_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &_title{
            color: white;
            margin-left: 10px;
            font-weight: 700;
            font-size: 24px;
        }

        img{
            transition: transform 0.2s ease-out;
            margin-top: 8px;
            margin-right: 10px;
        }
    }

    &_description{
        overflow: hidden;
        margin: 0;
        font-size: 18px;

        &_container{
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.2s ease-out;
            overflow: hidden;

            &.open{
                grid-template-rows: 1fr; 
                .drop_description{
                    padding: 25px 28px 20px 20px;
                }
            } 
            li{
                list-style: none;
            }
        }
        
     }
}

#drop-description{
            background-color: #F6F6F6;
        }

@include mobile{
        .drop{
            &_header{
                &_title{
                    font-size: 13px;
                }
            }
        }
    }