@use "./settings.scss" as *;

.drop{
    
    background-color: $primary;
    border-radius: 5px;
    

    &_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &_title{
            color: white;
        }

        img{
            transition: transform 0.2s ease-out;
        }
    }

    &_description{
        overflow: hidden;
        margin: 0;

        &_container{
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.2s ease-out;

            &.open{
                grid-template-rows: 1fr; 
            } 
            li{
                list-style: none;
            }
        }
        
     }
}

#drop-description{
            background-color: #F6F6F6;
        }

