@use "./settings.scss" as *;

.drop{
   
    background-color: $primary;
    border-radius: 5px;

    &_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &_title{
            color: white;
        }
    }

    &_description{
        height: 0;
        overflow: hidden;
        margin: 0;

        &.open{
            height: auto;
        }
     }

}

.drop-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
