@use "./settings.scss" as *;
@use "mixin.scss" as *;

.star-active{
    width: auto;
}
.fiche-logement{
    margin-bottom: 50px;
    
    &__infoGeneral{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
    }
    
    p{
        margin: 0;
    }
    &__title{
        color: $primary;
        font-weight: 500;
        font-size: 36px;
        letter-spacing: 0;
        font-family: Montserrat;
        line-height: 143%;
    }

    &__location{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0%;
        font-family: Montserrat;
        margin-bottom: 20px !important;
        }

    &__tag{
        display: inline-block;
        border: 1px solid $primary;
        margin-right: 10px;
        background-color: $primary;
        border-radius: 10px;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        font-family: Montserrat;
        font-weight: 700;
        min-width: 107px;
        text-align: center;
        margin-bottom: 24px;
    }

    &__right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 21px;
    }

    &__host{
        display: flex;
        gap: 10px;
        width: max-content;
        align-items: center;

        &__name{
            color: $primary;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0%;
            width: min-content;
            text-align: right;
        }

        &__picture{
            border-radius: 50%;
            max-width: 64px;
            max-height: 64px;
        }
    }
    &__rating{
        display: flex;
        flex-direction: row;
        gap: 18px;
    }
    &__additional-info{
        display: flex;
        flex-direction: row;
        gap: 76px;
        .drop{
            flex: 1;
            height: max-content;
        }
    }

     @include mobile{
        margin-bottom: 27px;
        
        &__infoGeneral{
            flex-direction: column;
            margin-top: 15px;
        }

        &__title{
            font-size: 18px;
        }

        &__location{
            font-size: 14px;
            margin-bottom: 10px !important;
            margin-top: 5px;
        }

        &__tag{
            font-size: 10px;
            margin-bottom: 0;
        }

        &__right{
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        &__host{
            &__name{
                font-size: 12px;
            }
            &__picture{
                width: 32px;
            }
        }

        &__rating{
            gap: 7px;
            img{
                width: 13px;
            }
        }

        &__additional-info{
            flex-direction: column;
            gap: 20px;
            margin-top: 13px;
        }


    }
}

.infoGeneral{
    display: flex;
    justify-content: space-between;
}

