@use "mixin.scss" as *;
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 66px;
    padding-bottom: 29px;

    p{
        color: white;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }

    @include mobile{
        p{
            font-size: 12px;
            max-width: 134px;
        }
    }
}