header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 45px 100px 50px 100px;

    nav{
        display: flex;
        flex-direction: row;
        gap: 57px;

        a{
            color: black;
        }
    }

    img{
        width: 210px;
    }



}