@use "mixin.scss" as *;

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 45px 100px 50px 100px;

    nav{
        display: flex;
        flex-direction: row;
        gap: 57px;

        a{
            color: black;
            font-size: 24px;
            font-weight: 500;
        }
    }

    img{
        width: 210px;
    }

    @include mobile{
        margin: 20px 20px 27px 20px;

        nav{
            gap: 26px;

            a{
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        img{
            width: 145px;
        }
    }

}