@use "./settings.scss" as *;
@use "mixin.scss" as *;
.logements{
    &__container{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        padding: 56px 50px 43px 50px;
        box-sizing: border-box;
        background-color: #F6F6F6;
        margin-top: 43px;
        margin-bottom: 50px;
        border-radius: 16px;
    }
    &__card{
        background-color: $primary;
        height: 340px;
        flex: 1;
        min-width: 340px; 
        border-radius: 16px;
        text-decoration: none;
        position: relative;


        &__title{
            color: white;
            position: absolute;
            left: 20px;
            bottom: 20px;
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            width: calc(100% - 40px);
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 16px;
        }
    }
     
}

@include mobile{
        .logements{
            &__container{
                padding: 0;
                background-color: transparent;
                gap: 20px;
                margin-top: 22px;
                margin-bottom: 27px;
            }
            &__card{
                height: 255px;
            }
        }
    }