@use "./settings.scss" as *;

.e404-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 129px;
    flex: 1;

    h1, p{
        color: $primary;
    }

    h1{
        font-size: 288px;
        margin-top: 60px;
    }

    p{
        font-weight: 500;
        font-size: 36px;
        margin: 0px;
    }

    #retour-accueil{
        margin-bottom: 139px;
        font-weight: 500;
        font-size: 18px;
    }
}