@use "./settings.scss" as *;
@use "mixin.scss" as *;

.e404-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 129px;
    flex: 1;

    h1, p{
        color: $primary;
    }

    h1{
        font-size: 288px;
        margin-top: 60px;
        font-weight: 700;
    }

    p{
        font-weight: 500;
        font-size: 36px;
        margin: 0px;
    }

    #retour-accueil{
        margin-bottom: 139px;
        font-weight: 500;
        font-size: 18px;
        color: black;
    }

    @include mobile{
        h1{
            font-size: 96px;
        }
        p{
            font-size: 18px;
            text-align: center;
        }
        #retour-accueil{
            font-size: 14px;
        }
    }
}