@use "mixin.scss" as *;


.slider{
    position: relative;
    overflow: hidden;
    max-height: 415px;
    border-radius: 16px;

    > img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    button{
        position: absolute;
        background: transparent;
        top: calc(50% - 40px);
        border: none;
        cursor: pointer;
        img{
            height: 80px;
        }
    }
    .slider__prev{
        position: absolute;
    }

    &__prev{
        transform: rotate(-180deg);
    }

    &__next{
        right: 0;
    }

    &__num{
        position: absolute;
        bottom: 25px;
        right: 50%;
        color: white;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0%;
        font-family: Montserrat;
    }

    @include mobile{
        height: 255px;
        &__num{
            display: none;
        }
        button{
            top: calc(50% - 12px);
            img{
                height: 24px;
            }
        }
    }
}